#root{
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

div.Nombre, section h2{
    
    text-align: center;
    font-family: serif;
}

div.Contacto ul{
    list-style: none;
}

section .info, section .Descripcion, div.Contacto ul{
    display: flex;
    align-items: center;
    padding: 0 auto;
    
}

section .info, section .Descripcion{
    justify-content: space-between;
    
}

div.Detalles{
    padding: 0 auto;
}
div.Contacto ul{
    justify-content:space-around;
}
section .Descripcion p{
    margin-top: -20px;
}